<div class="card">
	<img src="{{url}}" class="image-child" data-src="holder.js/100px280/thumb"
	 data-holder-rendered="true" alt="100%x280">
	<div class="media">
		<div class="media-left media-middle">
			<button class="add-cart btn btn-primary">Add to cart</button>
		</div>
		<div class="media-body">
			<p class="card-text">{{name}} - {{price}}</p>
		</div>
	</div>
</div>
